<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.pagination.js"></script>
    <link rel="stylesheet" href="/style/categoryById.css">
   <!--  <style>
        #right-below ul{
            list-style: none;
        }
        #right-below ul li{
            width: 200px;
            border: 1px solid red;
            text-decoration: none;
        }
        .im{
            float: left;
            width: 300px;
            height: 100px;
            border: 1px solid #000;
        }
        .i{
            width: 500px;
            height:150px;
            border: 1px solid red;
        }
        .i1{
            width: 500px;
            height:150px;
            border: 1px solid #000;
        }
    </style> -->
  <script>
function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) return pair[1];
    }
}
$(function () {
    showActivityBox();
});

function showActivityBox() {
   
    // var _data = "page_num =" + page_num + "&page_size=5";
    $.ajax({
        url: "/api/product/findImgByCategoryId/$!foreign_key",
        type: "get",
        dataType: "json",
        cache: false,
        xhrFields: {
            withCredentials: true
        },
        beforeSend: function () {},
        complete: function () {},
        // data: _data,
        success: function (result) {
            if (result.code == 200) {
                initData(result.data);
            }
        }
    });
}

function initData(data) {
    var list = data.list;

    var tr_str="";
    var tr_str1="";

    for (var i = 0; i < list.length; i++) {
            // tr_str1= "<div>" + tr_str + "</div>";
           tr_str += "<div data-id='" + list[i].id + "' id='container1'>" +
            // '<li >' + list[i].id + '</li>' +
            
             "<li><a href='#' onclick='showActivityBo(this)'>"+ "书名：" + list[i].name + "</a></li>"+
             "<li><a href='#' onclick='showActivityBo(this)'>"+ "原价格：" + list[i].original_price + "</a></li>"+
             "<li><a href='#' onclick='showActivityBo(this)'>"+ "优惠价格：" + list[i].promote_price + "</a></li>"+
             "<li><a href='#' onclick='showActivityBo(this)'>"+ "库存：" + list[i].stock + "</a></li>"+
             "</div>";
        var product_image_list = list[i].product_image_list;
        for (var y = 0; y < 1; y++) {
            tr_str +="<div data-id='" + list[i].id + "' id='container2'>" +
            // "<li >" + product_image_list[y].id + "</li>" +
            "<li ><img src='" + product_image_list[y].picture +"' class='im' onclick='showActivityBo(this)'></li>" +
            "</div>";
       
                
            }
        }

    $("#container").html(tr_str);

   
}

function showActivityBo(item) {
    window.location.href = "Look_at.html?id=" + $(item).closest("div").data("id");
    return;
}

</script>
</head>
<body>
 <div id="head">
        <div id="header">
            <div class="l1">
                <ul>
                   <!--  <li><img src="img/logo.jpg" class="img" alt=""></li> -->
                    <li><a href="/login">登录</a></li>
                    <li><a href="/register">注册</a></li>
                    <li><a href="/index/index">首页</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="l2">
                <ul>
                    <li></li>
                    <li>购物车</li>
                    <li><a href="/bookstoreHome/My_order">我的订单</a></li>
                    <li>退出</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="container">
        
    </div>
</body>
</html>