<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.pagination.js"></script>
    <link rel="stylesheet" href="/style/insertOrder.css">
    <script>
    function tijiao(){
    	$.ajax({
    		url:"/api/order/insert",
    		data:$("#dingdan").serialize(),
    		type:'get',
    		dataType:"json",
    		cache:false,
    		xhrFields:{
    			withCredentials:true
    		},
    		success:function(result){
    			if (result.code == 200) {
    				alert(result.msg);
                     window.location.href = "My_order.html";
    			}else{
            		alert(result.mag);
            	}
    		},
    		 error: function() {
				alert("网络连接出错");
			}
    	});
    }
    </script>
</head>
<body>
     <div id="head">
        <div id="header">
            <div class="l1">
                <ul>
                   <!--  <li><img src="img/logo.jpg" class="img" alt=""></li> -->
                    <li><a href="/login">登录</a></li>
                    <li><a href="/register">注册</a></li>
                    <li><a href="/index/index">首页</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="l2">
                <ul>
                    <li></li>
                    <li>购物车</li>
                    <li><a href="/bookstoreHome/My_order">我的订单</a></li>
                    <li><a href="#" onclick="logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </div>

	<div id="container">
		<form  id="dingdan" enctype="multipart/form-data">
			用户id：<input type="text" name="user_id" autocomplete="off"><br>
			收货人：<input type="text" name="address" autocomplete="off"><br>
			地址：<input type="text" name="receivre" autocomplete="off"><br>
			电话：<input type="text" name="mobile" autocomplete="off"><br>
			用户描述：<input type="text" name="user_message" autocomplete="off"><br>
			订单号：<input type="text" name="order_code" autocomplete="off"><br>
			创建时间：<input type="date" name="create_date" autocomplete="off"><br>
			<input type="button" value="提交订单" onclick="tijiao()">
			<input type="button" value="取消购买" onclick="javascript:history.back(1);">
			<!-- <a onclick="javascript:history.back(1);" href="#">返回</a> -->
		</form>
	</div>
</body>
</html>