<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
</head>
<body>
<h3>购物车</h3>
<ul>
    <li><p>GET：<a href="/api/cart/list">/api/cart/list</a> </p></li>
    <p>描述：分页查询所有分类</p>
    <p>参数：page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空)</p>
</ul>

<ul>
    <li><p>POST：<a href="/api/cart/insert">/api/cart/insert</a> </p></li>
    <p>描述：添加购物车</p>
    <p>参数：product_id(产品id)</p>
</ul>

<ul>
    <li><p>POST：<a href="/api/cart/delete">/api/cart/delete</a> </p></li>
    <p>描述：删除购物车购物车</p>
    <p>参数：product_id(外键，指向产品表id)</p>
</ul>





</body>
</html>