<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
    <p>描述：分页查询所有分类</p>
    <p>参数：page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空)</p>
    <p>接口：<a href="/category/list">/category/list</a> </p>
    <p>描述：添加分类</p>
    <p>参数：theory 不能为空, philosophy 不能为空, sciences 不能为空, law 不能为空, military 不能为空</p>
    <p>接口：<a href="/category/add">/category/add</a> </p>
    <p>描述：删除分类</p>
    <p>参数：id</p>
    <p>接口：<a href="/category/delete">/category/delete</a> </p>
    <p>描述：修改分类</p>
    <p>参数：theory 不能为空, philosophy 不能为空, sciences 不能为空, law 不能为空, military 不能为空</p>
    <p>接口：<a href="/category/update">/category/update</a> </p>
</body>
</html>