<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
    <h3>订单管理</h3>
    <ul>
        <li><p>GET：<a href="/api/orderitem/selectById">/api/orderitem/selectById</a> </p></li>
        <p>描述：根据订单项的id查询订单里面的产品《查看详情》</p>
        <p>参数：id </p>

        <li><p>GET：<a href="/api/orderitem/selectByOrderItemId">/api/orderitem/selectById</a> </p></li>
        <p>描述：查出订单里有多个订单项（一对多）</p>
        <p>参数：id </p>

        li><p>GET：<a href="/api/orderitem/selectByProductId">/api/orderitem/selectByProductId</a> </p></li>
        <p>描述：根据订单项的product_id查询订单项(一对一)</p>
        <p>参数：id </p>

    </ul>
</body>
</html>