<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
    <h3>订单管理</h3>
    <ul>
        <li><p>GET：<a href="/api/order/selectByOrderId">/api/order/selectByOrderId</a> </p></li>
        <p>描述：根据用户id查询订单</p>
        <p>参数：id </p>

        <li><p>GET：<a href="/api/order/select">//api/order/select</a> </p></li>
        <p>描述：根据id查询订单和订单项</p>
        <p>参数：id </p>

        <li><p>GET：<a href="/api/order/selectById">/api/order/selectById</a> </p></li>
        <p>描述：根据订单查询用户名</p>
        <p>参数：id </p>

        <li><p>GET：<a href="/api/order/selectlist">/api/order/selectlist</a> </p></li>
        <p>描述：查询订单查询用户名</p>
        <p>参数：id </p>


        <li><p>POST：<a href="/api/order/insert">/api/order/delivery</a> </p></li>
        <p>描述：插入订单</p>
        <p>参数：user_id  address(收货人) receivre(地址) mobile(电话)  user_message(用户描述)  order_code(订单号)  create_date(创建时间)  </p>

        <li><p>POST：<a href="/api/order/delivery">/api/order/delivery</a> </p></li>
        <p>描述：发货</p>
        <p>参数：id    delivery_date </p>

        <p>参数：id </p>
        <li><p>POST：<a href="/api/order/confirm">/api/order/confirm</a> </p></li>
        <p>描述：收货</p>
        <p>参数：id  confirm_date </p>

        <li><p>POST：<a href="/api/order/cancel">/api/order/cancel
        </a> </p></li>
        <p>描述：取消订单</p>
        <p>参数：id </p>

    </ul>
</body>
</html>