<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>product接口说明</title>
</head>
<body>
<h3></h3>
<ul>
    <li>
        <p>POST：<a href="/api/product/add">/api/product/add</a></p>
        <p>描述：添加商品接口</p>
        <p>参数: name(名字，不为空) ，subtitle(小标题，不为空)，original_price(原价格，不为空)，promote_price(优惠价格，不为空)，
                stock(库存，不为空)，category_id(外键,指向用户表)</p>
    </li>

    <li>
        <p>GET：<a href="/api/product/selectByCategoryId/{id}">/api/product/selectByCategoryId/{id}</a></p>
        <p>描述: 通过分类的id查看首页商品列表</p>
        <p>参数：id(主键(分类表id)，不为空)，page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空)</p>
    </li>

    <li>
        <p>POST：<a href="/api/product/update">/api/product/update</a></p>
        <p>描述: 根据id修改内容参数</p>
        <p>参数: id(主键，不为空)，subtitle(小标题，不为空)，original_price(原价格，不为空)，promote_price(优惠价格，不为空)
            stock(库存，不为空)，category_id(外键,指向用户表，不为空)</p>
    </li>

    <li>
        <p>POST：<a href="/api/product/delete">/api/product/delete</a></p>
        <p>描述: 根据传入批量id删除对应的商品</p>
        <p>参数: id</p>
    </li>




    <li>
        <p>GET：<a href="/api/product/selectFindProductImg">api/product/selectFindProductImg</a></p>
        <p>描述: 通过商品的id查看商品的所有信息和图片</p>
        <p>参数：id</p>
    </li>


    <li>
        <p>POST：<a href="/api/product/selectByName">/api/product/selectByName</a></p>
        <p>描述: 根据商品名模糊查询</p>
        <p>参数: name(商品名不为空)，page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空)</p>
    </li>

</ul>
</body>
</html>