<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>productImage接口说明</title>
</head>
<body>
<h3>商品图片接口说明</h3>
<ul>
    <li>
        <p>POST：<a href="/api/productImage/add">/api/productImage/add</a></p>
        <p>描述：添加商品图片接口</p>
        <p>参数: file(产品图片，不为空) ，product_id(外键，指向产品，不为空)</p>
        <form action="/api/productImage/add" method="post"  enctype="multipart/form-data">
            <table>
                <tr>
                    <td>附件：</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td>外键(指向产品的id)：</td>
                    <td><input type="text" name="product_id"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="提交"/></td>
                </tr>
            </table>
        </form>
    </li>

    <li>
        <p>GET：<a href="/api/productImage/list">/api/productImage/list</a></p>
        <p>描述: 查看首页商品图片列表</p>
        <p>参数：page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空) </p>
    </li>

    <li>
        <p>POST：<a href="/api/productImage/update">/api/productImage/update</a></p>
        <p>描述: 根据id修改商品图片参数</p>
        <p>参数: id(主键，不为空)，file(文件，为空)，product_id(外键，指向产品表，不为空)</p>
        <form action="/api/productImage/update" method="post"  enctype="multipart/form-data">
            <table>
                <tr>
                    <td>附件：</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td>主键：</td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                    <td>外键(指向产品的id)：</td>
                    <td><input type="text" name="product_id"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="提交"/></td>
                </tr>
            </table>
        </form>
    </li>

    <li>
        <p>POST：<a href="/api/productImage/delete">/api/productImage/delete</a></p>
        <p>描述: 根据传入批量id删除对应的商品图片</p>
        <p>参数: id</p>
        <form action="/api/productImage/delete" method="post">
            <table>
                <tr>
                    <td>主键：</td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="提交"/></td>
                </tr>
            </table>
        </form>
    </li>

    <li>
        <p>POST：<a href="/api/productImage/listByProductId/{product_id}">/api/productImage/listByProductId/{product_id}</a></p>
        <p>描述: 根据传入product_id显示对应的商品图片</p>
        <p>参数: product_id(外键，指向产品表的id，不为空)</p>
    </li>

    <li>
        <p>POST：<a href="/api/productImage/listById/{id}">/api/productImage/listById/{id}</a></p>
        <p>描述: 根据传入id查询对应的商品图片</p>
        <p>参数: id(主键，不为空)</p>
    </li>



    <li>
        <p>GET：<a href="/api/productImage/selectByProductId">/api/productImage/selectByProductId</a></p>
        <p>描述: 通过product_id查看商品所有图片</p>
        <p>参数：id
    </li>



    <li>
        <p>GET:<a href="/api/product/findImgByCategoryId">/api/product/findImgByCategoryId</a></p>
        <p>描述: category_id_id查看商品所有图片</p>
        <p>参数：category_id</p>

    </li>
</ul>
</body>
</html>