<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review</title>
</head>
<body>
<h3>评论</h3>
<ul>
    <li><p>GET：<a href="/api/review/list">/api/review/list</a> </p></li>
    <p>描述：分页查询评论</p>
    <p>参数：page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空)</p>

    <li><p>GET：<a href="/api/review/delete">/api/review/delete</a> </p></li>
    <p>描述：删除评论</p>
    <p>参数:id(主键，不为空)</p>
    <p>注：有外键约束不能删</p>

    <li><p>POST：<a href="/api/review/add">/api/review/add</a> </p></li>
    <p>描述：添加评论</p>
    <p>参数: content(评价内容,不为空)，userId(外键(指向用户表),不为空),productId(外键(指向产品表),不为空)</p>
</ul>
</body>
</html>