<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>说明</title>
    <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/js/qrcode.js"></script>

    <style>
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -200px;
        }
    </style>
</head>
<body>
    <ul>
       <li>
           <form action="/upload/add" method="post"  enctype="multipart/form-data">
               <table>

                   <tr>
                       <td>附件：</td>
                       <td><input type="file" name="file"/></td>
                   </tr>
                   <tr>
                   <td><input type="submit" value="提交"/></td>
                   </tr>
               </table>
           </form>
       </li>

    </ul>

    <div id="qrcodeTable"></div>

    <script>
        var host = window.location.host;
        jQuery('#qrcodeTable').qrcode({
            width: 180, //生成的二维码的宽度
            height: 180, //生成的二维码的高度
            render	: "table",
            correctLevel:0,
            text	: "http://"+host+"/download/word/20180920220758936_915958.apk"
        });
    </script>
</body>
</html>
