<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>说明</title>
    <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/js/qrcode.js"></script>

    <style>
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -200px;
        }
    </style>
</head>
<body>


    <!--<div id="qrcodeTable"></div>-->

    <!--<script>-->
        <!--var host = window.location.host;-->
        <!--jQuery('#qrcodeTable').qrcode({-->
            <!--width: 220, //生成的二维码的宽度-->
            <!--height: 220, //生成的二维码的高度-->
            <!--render	: "table",-->
            <!--correctLevel:0,-->
            <!--text	: "http://192.168.1.138:8081/app/download"-->
        <!--});-->
    <!--</script>-->

    <ul>

        <li>
            <p>GET：<a href="/app/list">/api/app/list</a></p>
            <p>描述: 查看列表</p>
            <p>参数：page_num(默认为第一页，可为空)，page_size(默认为10条数据，可为空) </p>
        </li>

        <li>
            <p>POST：<a href="/app/upload">/app/upload</a></p>
            <p>描述：更新app接口</p>
            <p>参数: file(文件(格式为apk)，不为空) ，version(版本号，不为空)，developer(开发者(研发者只能填XL或XC(不分大小写))，不为空)</p>
            <form action="/app/upload" method="post"  enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>版本号：</td>
                        <td><input type="text" name="version"/></td>
                    </tr>
                    <tr>
                        <td>开发者(LM或XC)：</td>
                        <td><input type="text" name="developer"/></td>
                    </tr>
                    <tr>
                        <td>附件：</td>
                        <td><input type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="提交"/></td>
                    </tr>
                </table>
            </form>
        </li>
        <br>
        <li>(LM版)下载文件路径：http://192.168.1.138:8080/app/download/LM/</li>
        <li>(XC版)下载文件路径：http://192.168.1.138:8080/app/download/XC/</li>
    </ul>


</body>
</html>
