<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>卓越书店后台</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>

	<div id="top">
		<div id="top1">
			<div id="left">
				<ul>
					<li><img src="/img/logo.jpg" class="img1" alt=""></li>
					<li><a href="#">卓越书店后台</a></li>
					<li><a href="/admin/tianjialiebiao" target="main">分类管理</a></li>
					<li><a href="/admin/query" target="main">产品属性</a></li>
					<li><a href="/admin/userList" target="main">用户文档</a></li>
					<li><a href="/admin/PictureList" target="main">图片文档</a></li>
					<li><a href="#">订单管理</a></li>
				</ul>
			</div>
			<div id="right">
				<a href="#"><img src="/img/tou.jpg" class="img2" alt=""></a>
			</div>
		</div>
	</div>


		<iframe src="/admin/tianjialiebiao" name="main" frameborder="0" scrolling="no" style="width: 1300px; border: 1px solid pink; height: 550px;">

		</iframe>
	
</body>
</html>