<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>卓越书店</title>
    <link rel="icon" href="/img/logo.ico" type="img/x-ico" />
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/New_Arrivals.css">
    <link rel="stylesheet" href="/style/index.css">


    <!-- <link rel="stylesheet" href="style/index1.css"> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <!-- <script type="text/javascript" src="js/qrcode.js"></script> -->

    <script src="/js/classification.js"></script>
    <script src="/js/New_Arrivals.js"></script>
    <script>
        function logout(){

            $.ajax({
                url : "/api/user/logout",
                dataType : "json",
                cache: false,
                xhrFields: {
                    withCredentials: true
                },
                beforeSend: function () {},
                complete: function () {},
                success : function(result) {
                    if(result.code == 200){
                        // if (result.code == 200) {
                        alert(result.msg);
                        window.location.href ="Login.html";
                        // }


                    }else{
                        alert(result.msg);
                    }
                    // if (result.code == 200) window.location.href = "Login.html";
                },
                error: function (result) {
                    alert(result.msg);
                }
            });

        }
    </script>
</head>
<body>

<div id="head">
    <div id="header">
        <div class="l1">
            <div class="head1"><a href="/login">登录</a></div>
            <div class="head2"><a href="/register">注册</a></div>
            <div class="head3"><a href="/index/index">首页</a></div>
            <!-- <ul> -->
            <!--  <li><img src="img/logo.jpg" class="img" alt=""></li> -->
            <!-- <li>登录</li>
            <li>注册</li>
            <li><a href="index.html">首页</a></li>
            <li></li> -->
            <!-- </ul> -->
        </div>
        <div class="l2">
            <div id="hea">
                <div class="header1"><a href="/bookstoreHome/Shopping_Cart">购物车</a></div>
                <div class="header2"><a href="/bookstoreHome/My_order">我的订单</a></div>
                <div class="header3"><a href="#" onclick="logout()">退出</a></div>
            </div>

            <!--  <ul>
                 <li></li>
                 <li>购物车</li>
                 <li><a href="My order.html">我的订单</a></li>
                 <li>退出</li>
             </ul> -->
        </div>
    </div>
</div>

<div id="log">
    <div id="logo">
        <div id="logo1"><img src="/img/logo.png" class="logo" alt=""></div>
        <div id="logo2">
            <input type="text" placeholder="请输入书名" class="logo3"><input class="logo4" type="button" value="搜索">
        </div>
    </div>

</div>


<div id="banner">
    <!--    <iframe src="index1.html" name="main" frameborder="0" scrolling="no" style="width: 1200px;  height: 385px;">

           </iframe> -->
    <div id="left">
        <!-- <nav>
            商品分类
        </nav> -->
        <div id="left1">

        </div>
    </div>
    <div id="jianxi"></div>
    <div id="right">
        <!-- <nav></nav> -->
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active carousel-bg1">
                    <img src="/img/examples/lun01.jpg" >
                </div>
                <div class="carousel-item carousel-bg2">
                    <img src="/img/examples/lun02.jpg" >
                </div>
                <div class="carousel-item carousel-bg3">
                    <img src="/img/examples/lun03.jpg" >
                </div>
                <div class="carousel-item carousel-bg4">
                    <img src="/img/examples/lun02.jpg" >
                </div>
            </div>
            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>

<div id="fenlie1">

</div>

<div id="foot">
    <div id="footer">
        <div id="footzheng">
            <div id="footzhengtu"><img src="/img/zheng.png" alt="" class="zhengtu"></div>
            <div id="footzhengwen">正规渠道<br>正品保障</div>

        </div>
        <div id="footqian">
            <div id="footzhengtu"><img src="/img/qian.png" alt="" class="zhengtu"></div>
            <div id="footzhengwen">放心购物<br>货到付款</div>
        </div>
        <div id="footche">
            <div id="footzhengtu"><img src="/img/che.png" alt="" class="zhengtu"></div>
            <div id="footzhengwen">625城市<br>次日到达</div>
        </div>
        <div id="footshoujian">
            <div id="footzhengtu"><img src="/img/shoujian.png" alt="" class="zhengtu"></div>
            <div id="footzhengwen">上门退换<br>物件无忧</div>
        </div>
    </div>
</div>
<div id="button">
    <div id="butt">
        <div id="buttongouwu">
            <h3>购物指南</h3>
            购物流程<br>
            发票制度<br>
            账户管理<br>
            会员优惠

        </div>
        <div id="buttonzhifu">
            <h3>支付方式</h3>
            货到付款<br>
            网上支付<br>
            礼品卡支付<br>
            银行转账
        </div>
        <div id="buttondingdan">
            <h3>订单服务</h3>
            配送服务查询<br>
            订单状态说明<br>
            自动取消订单<br>
            自动修改订单
        </div>
        <div id="buttonpeisong">
            <h3>配送方式</h3>
            当日递<br>
            次日达<br>
            订单自提<br>
            验货与签收
        </div>
        <div id="buttontuihuo">
            <h3>退换货</h3>
            退换货服务查询<br>
            自助申请退换货<br>
            退换货进度查询<br>
            退款方式和时间
        </div>
        <div id="buttonshangjia">
            <h3>商家服务</h3>
            商家中心<br>
            运营服务<br>
            加入尾品汇
        </div>
    </div>
</div>
<div id="jiao">
    <div id="jiaoban">
        <ul>
            <li>公司简介</li>
            <li>|</li>
            <li>诚聘英才</li>
            <li>|</li>
            <li>网站联盟</li>
            <li>|</li>
            <li>当当招聘</li>
            <li>|</li>
            <li>机构销售</li>
            <li>|</li>
            <li>手机当当</li>
            <li>|</li>
            <li>官方Blog</li>
            <li>|</li>
            <li>热词搜索</li>
        </ul>
    </div>
    <div id="jiaoban1">
        卓越书店 2018-09-15/2018-12-12
    </div>
    <div id="jiaoban2">
        xxxx号|出版物经营许可证新出发京批字第直|食品许可证xxxx <br>
        互联网药品信息服务资格证编号：(京)-非经营性-2012-0016|京公网安备110101000001号 <br>
        互联网违法和不良信息举报电话：4001066666-5 邮箱：service@cs.dangdang.com<br>
        网络出版服务许可证（总）网出证（京）字第049号北京当当网信息技术有限公司，公司地址：北京市朝阳区北三环东路8号静安中心21层
    </div>
</div>
</body>
</html>