<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>'Document'</title>
	<link rel="stylesheet" href="/style/index.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/classification.js"></script>
</head>
<body>


    <div id="head">
    	<div id="header">
            <div class="l1">
                <ul>
                   <!--  <li><img src="img/logo.jpg" class="img" alt=""></li> -->
                    <li><a href="/login">登录</a></li>
                    <li><a href="/register">注册</a></li>
                    <li><a href="/index/index">首页</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="l2">
                <ul>
                    <li></li>
                    <li>购物车</li>
                    <li><a href="/bookstoreHome/My_order">我的订单</a></li>
                    <li><a href="#" onclick="logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="log">
        <div id="logo">
            <div id="logo1"><img src="/img/logo.png" class="logo" alt=""></div>
            <div id="logo2">
                <input type="text" placeholder="请输入书名" class="logo3"><input class="logo4" type="button" value="搜索">
            </div>
        </div>
       
    </div>
    <div id="banner">
        <div id="left">
            <!-- <nav>
                商品分类
            </nav> -->
            <div id="left1">
                
            </div>
        </div>

        <div id="right">
            <!-- <nav></nav> -->
        </div>
    </div>
    <div id="foot">
        
    </div>


</body>
</html>