<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<style type="text/css">
		.t{
			text-align: center;
			width: 100px;
			height: 100px;

		}
		.ti{
			width:200px;height: 200px;
		}
		.tabl-img{
			width: 90px;
			height: 120px;
		}
	</style>
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/jquery.pagination.js"></script>
</head>
<body>

	<script>
		$(function(){
			getData(1);
		});
		function getData(page_num){
		
			$.ajax({
				url:"/api/productImage/show/$!foreign_key",
				type:"get",
				dataType:"json",
				cache:false,
				xhrFields:{
					withCredentials:true
				},
				
				success:function(result){
					if (result.code == 200) {
						initData(result.data);
					}
				}
			});
		}
		function initData(data){
            var host = window.location.host;
            var list =data.list;
            var tr_str="<tr>" +
                "<th class='t'>主键</th>" +
                "<th class='t'>图片</th>" +
                "<th class='t'>修改</th>"+
                "<th class='t'>删除</th>"+
                "</tr>";
            for (var i = 0; i < list.length; i++) {
                tr_str += "<tr  data-id='"+list[i].id+"'>" +
                    "<td class='t'>" + list[i].id + "</td>" +
                    "<td class='t'><img  src='" + "http://" + host +  list[i].picture + "' class='tabl-img'/>  </td>" +
                    "<td class='t'><a  href='#' onclick='showActivity(this)'>修改</td>" +
                    "<td class='t'><a  href='#' onclick='deleteItem(this)'>删除</td>" +
                    "</tr>";
            }
		$("#table").html(tr_str);
	}
	</script>


	<script>
        function deleteItem(item) {
            if (confirm("确定要删除吗？")) {
                var id = $(item).closest("tr").data("id");
                var data = "";
                data += "id=" + id;
                $.ajax({
                    url: '/api/productImage/delete',
                    type: "post",
                    dataType: "json",
                    cache: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    beforeSend: function () {},
                    complete: function () {},
                    data: data,
                    success: function (result) {
                        if (result.code == 200) {
                            alert(result.msg);
                            var tr = $(item).closest("tr");
                            tr.remove();
                        }else{
                            alert(result.msg);
                        }

                    }

                });
            }
        }
	</script>


	<!-- 查看 -->
	<script>
        var activityXhr;
        var updateTr;
        function showActivity(item) {
            $(".activity-update").show();

            var tr=$(item).closest("tr");
            update_tr=tr;

            update_id = tr.data("id");

            if (activityXhr) activityXhr.abort();
            activityXhr = $.ajax({
                url: "/api/productImage/listById/" + update_id,
                type: "get",
                dataType: "json",

                cache: false,
                xhrFields: {
                    withCredentials: true
                },
                beforeSend: function() {
                },
                complete: function() {
                },
                success: function (result) {

                    if (result.code == 200) {


                        updateTr = tr;

                        var data = result.data;


                        var dialog = $("#activity-update");
                        dialog.find("input[name=id]").val(data.id);

                        dialog.find("input[name=product_id]").val(data.product_id);
                        dialog.find("input[name=picture]").val(data.picture);

                    }


                },
                error: function (result) {
                    alert(result.msg);
                }
            });
        }

        function activityUpdate() {
            if (activityXhr) activityXhr.abort();
            activityXhr = $.ajax({
                url: "/api/productImage/update",
                type: "post",
                data: new FormData($("#activity-update")[0]),
                dataType: "json",
                cache: false, // 上传文件无需缓存
                processData: false, // 用于对data参数进行序列化处理 这里必须false
                contentType: false, // 必须
                async : true,
                cache: false,//清除缓存
                xhrFields: {//跨域
                    withCredentials: true
                },
                success: function (result) {
                    if (result.code == 200) {
                        alert(result.msg);
                        var dialog = $("#activity-update-dialog");
                        updateTr.children("#id").text(dialog.find("input[name=id]").val());
                        updateTr.children("#picture").text(dialog.find("input[name=picture]").val());
                        updateTr.children("#product_id").text(dialog.find("input[name=product_id]").val());
                    } else {

                    }
                },error: function (result) {

                }
            });
        }
	</script>

	<!-- 查看 -->

	<div class="activity-update" style="background: #f1f1fc;  position: fixed; width: 100%; height:100%; margin:0px; padding:0px; z-index: 1000; display: none;" >
		<div id="activity-update-dialog" style=" max-width: 100%;max-height: 100%; background: #fff; padding:60px; position: fixed;margin:0 auto; top: 50%; left: 50%; transform: translate(-50%,-50%);  border-radius: 5px;">
			<div>
				<h3>查看</h3><br>
				<form id="activity-update"  enctype="">
					<input type="hidden" name="id" >
					<table border="1" cellpadding="5" cellspacing="1" style="width: 800px; margin:0 auto;" id="activity_alter_table">
						<tr>
							<td>图片：</td>
							<td>
								<input type="file"  name="file" id="picture" />
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="button" value="修改" onclick="activityUpdate()">
								<input type="button" value="取消" id="btn2" onclick="$(this).closest('.activity-update').hide();" />
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>

    <div>
        <table   cellspacing="0" cellpadding="0" align="center" id="table">
            <div style="width: 120px; height: 45px; background-color:#6ec3c9; text-align: center; line-height: 40px;border:1px solid #000; border-radius:25px;">商品图片</div><a href="shangpintupian.html">添加</a>
        </table>
    </div>
</body>
</html>