<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>卓越书店</title>
    <link rel="icon" href="/img/logo.ico" type="img/x-ico" />
    <link rel="stylesheet" type="text/css" href="/css/shangpinliebiao.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.pagination.js"></script>
    <script src="/js/shangpinliebiao.js"></script>

</head>


<body>

    <div class="activity-update-box" style="background: #f1f1fc;  position: fixed; width: 100%; height:100%; margin:0px; padding:0px; z-index: 900; display: none;" >
        <div id="activity-update-dialog" >
            <form action="" id="activity-update-form">
                <div id="container">
                </div>
                <input type="button" value="提交"  onclick="activityUpdate()" /><input type="button" value="取消" id="btn2" onclick="$(this).closest('.activity-update-box').hide();" />
            </form>
        </div>
    </div>

    <div id="right-below">
        <div id="mt">分类列表</div><a href="categoryAdd.html">添加</a>
        <table width="1100px" align="center" id="table" cellspacing="0px" cellpadding="0px">

        </table>

        <div align="center">
            <div class="M-box"></div>
        </div>
    </div>

</body>
</html>