<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.CartDao">
    <resultMap id="CarMap" type="com.bookstore.bean.Cart">
        <result property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="product_id" column="product_id"/>
        <result property="number" column="number"/>
        <result property="itemPrice" column="itemPrice"/>
        <result property="itemTitle" column="itemTitle"/>
        <result property="updated" column="updated"/>
        <result property="createdate" column="createdate"/>
    </resultMap>

    <select id="seleByUser" resultMap="CarMap" parameterType="java.lang.Long">
        SELECT * FROM tb_cart WHERE user_id=#{user_id}
    </select>

    <insert id="insert" parameterType="com.bookstore.bean.Cart"   useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_cart (user_id,product_id,number,itemPrice,itemTitle,updated,createdate) VALUE
        (#{user_id},#{product_id},#{number},#{itemPrice},#{itemTitle},#{updated},#{createdate})
    </insert>

    <update id="update" parameterType="com.bookstore.bean.Cart">
        UPDATE tb_cart
        <set>
            <if test="user_id !=null">user_id=#{user_id},</if>
            <if test="product_id !=null">product_id=#{product_id},</if>
            <if test="number !=null">number=#{number},</if>
            <if test="itemPrice !=null">itemPrice=#{itemPrice},</if>
            <if test="itemTitle !=null">itemTitle=#{itemTitle},</if>
            <if test="updated !=null">updated=#{updated},</if>
            <if test="createdate !=null">createdate=#{createdate }</if>
        </set>
        WHERE id=#{id}
    </update>



    <delete id="deleteBatch">
        DELETE FROM tb_product WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>