<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.OrderItemDao">
    <resultMap id="findorderItemResultMap" type="com.bookstore.bean.OrderItem">
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <result column="aorder_id" property="order_id"/>
        <result column="product_id" property="product_id"/>
        <association property="product" column="id" select="com.bookstore.dao.ProductDao.selectById">
        </association>
    </resultMap>

    <select id="selectByOrderItemId" parameterType="java.lang.Long" resultMap="findorderItemResultMap">
    SELECT * FROM  tb_orderitem o WHERE o.order_id=#{id}
    </select>

  <insert id="insert" parameterType="com.bookstore.bean.OrderItem" useGeneratedKeys="true" keyProperty="id">

      INSERT INTO tb_orderitem (number,order_id,product_id,user_id)
      VALUES(#{number},#{order_id},#{product_id},#{user_id})
  </insert>

    <update id="updateById" parameterType="com.bookstore.bean.Order">
        UPDATE tb_orderitem
        <set>
            <if test="number !=null">pay_date=#{pay_date}</if>
        </set>
        WHERE id=#{id}

    </update>


    
</mapper>