<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.ProductDao">
    <resultMap id="findProductResultMap" type="com.bookstore.bean.Product">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="subtitle" property="subtitle"/>
        <result column="originalPrice" property="original_price"/>
        <result column="promotePrice" property="promote_price"/>
        <result column="stock" property="stock"/>
        <result column="createDate" property="create_date"/>
        <result column="categoryId" property="category_id"/>
    </resultMap>

    <select id="select" resultType="com.bookstore.bean.Product">
        SELECT * FROM tb_product
    </select>

    <select id="selectByProductId" resultMap="findProductResultMap" parameterType="java.lang.Long">
        SELECT * FROM  tb_product  p WHERE p.id=#{id}
    </select>

    <select id="selectById" resultType="com.bookstore.bean.Product">
        SELECT * FROM  tb_product WHERE id=#{id}
    </select>

    <insert id="insert" parameterType="com.bookstore.bean.Product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_product(name, subtitle, original_price, promote_price, stock, create_date, category_id)
        VALUES (#{name},#{subtitle},#{originalPrice},#{promotePrice},#{stock},#{createDate},#{categoryId})
    </insert>

    <update id="updateById" parameterType="com.bookstore.bean.Product">
        UPDATE tb_product
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="subtitle != null">subtitle=#{subtitle},</if>
            <if test="originalPrice != null">original_price=#{originalPrice},</if>
            <if test="promotePrice != null">promote_price=#{promotePrice},</if>
            <if test="stock != null">stock=#{stock},</if>
            <if test="createDate != null">create_date=#{createDate},</if>
            <if test="categoryId != null">category_id=#{categoryId}</if>

        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteBatch">
        DELETE FROM tb_product WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>