<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.ProductImageDao">
    <resultMap id="findImgResultMap" type="com.bookstore.bean.ProductImage">
        <id column="id" property="id"/>
        <result column="productId" property="product_id"/>
        <result column="picture" property="picture"/>
    </resultMap>

    <select id="selectByProductId"   resultMap="findImgResultMap"  parameterType="java.lang.Long" >
        SELECT *FROM  tb_product_image WHERE product_id=#{id}

    </select>




    <select id="show" resultType="com.bookstore.bean.ProductImage">
        SELECT * FROM tb_product_image WHERE product_id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="select" resultType="com.bookstore.bean.ProductImage">
        SELECT * FROM tb_product_image
    </select>

    <select id="selectById" resultType="com.bookstore.bean.ProductImage">
        SELECT * FROM  tb_product_image WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listByProductId" resultType="com.bookstore.bean.ProductImage">
        SELECT * FROM tb_product_image WHERE product_id = #{product_id}
    </select>

    <select id="listById" resultType="com.bookstore.bean.ProductImage">
        SELECT * FROM tb_product_image WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.bookstore.bean.ProductImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_product_image(picture,product_id)
        VALUES (#{picture},#{productId})
    </insert>

    <update id="updateById" parameterType="com.bookstore.bean.ProductImage">
        UPDATE tb_product_image
        <set>
            <if test="picture != null">picture=#{picture},</if>
            <if test="productId != null">product_id=#{productId}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteBatch">
        DELETE FROM tb_product_image WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>