<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.UploadDao">

    <insert id="insert" parameterType="com.bookstore.bean.Upload" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_upload(version,fileurl,filename,developer,turnover_time)
        VALUES (#{version},#{fileUrl},#{fileName},#{developer},#{turnoverTime})
    </insert>

    <select id="select" resultType="com.bookstore.bean.Upload">
        SELECT * FROM tb_upload
    </select>
    
    <select id="selectByFileUri" resultType="com.bookstore.bean.Upload">
        SELECT * FROM tb_upload
    </select>

    <select id="selectById" resultType="com.bookstore.bean.Upload">
        SELECT * FROM tb_upload WHERE id = #{id}
    </select>

    <select id="selectByDeveloper" resultType="com.bookstore.bean.Upload" parameterType="java.lang.String">
        SELECT * FROM tb_upload WHERE developer = #{developer}
    </select>

    <update id="update" parameterType="com.bookstore.bean.Upload">
        UPDATE tb_upload
        <set>
            <if test="version != null">version=#{version},</if>
            <if test="fileName != null">filename=#{fileName},</if>
            <if test="fileUrl != null">fileurl=#{fileUrl},</if>
            <if test="turnoverTime != null">turnover_time=#{turnoverTime}</if>
        </set>
        WHERE developer = #{developer}
    </update>

</mapper>