<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.UserDao">


    <select id="selectById" resultType="com.bookstore.bean.User">
        SELECT  * FROM  tb_user WHERE id=#{id}

    </select>

    <select id="selectByName" resultType="com.bookstore.bean.User" parameterType="java.lang.String">
        SELECT * FROM tb_user WHERE name=#{name}

    </select>




    <delete id="deleteById">
        DELETE FROM tb_user WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>





