<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.dao.UserDao">
    <resultMap id="findOrderResultMap" type="com.bookstore.bean.User">
        <id column="id" property="id"/>
        <result column="name" property="username"/>
        <result column="mobile_phone" property="mobile_phone"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="role_type" property="roleTypeEnum"/>
        <result column="freeze" property="freezeEnum"/>
        <collection property="orders" column="id" select="com.bookstore.dao.OrderDao.selectByOrderId"></collection>
    </resultMap>

    <select id="select" resultMap="findOrderResultMap" parameterType="java.lang.Long">
        SELECT * FROM  tb_user WHERE id=#{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.bookstore.bean.User">
        INSERT INTO tb_user(name, password, mobile_phone, email,role_type,freeze)
        VALUES (#{username},#{password},#{mobile_phone},#{email},#{roleTypeEnum},#{freezeEnum})
    </insert>

    <select id="list" resultMap="findOrderResultMap">
        SELECT * FROM tb_user order by role_type asc
    </select>

    <select id="selectByUname" resultMap="findOrderResultMap" parameterType="java.lang.String">
        SELECT * FROM tb_user WHERE mobile_phone=#{mobile_phone}
    </select>

    <select id="selectById" resultMap="findOrderResultMap" parameterType="java.lang.Long">
        SELECT  * FROM  tb_user WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.bookstore.bean.User">
        UPDATE tb_user
        <set>
            <if test="password != null">password=#{password},</if>
            <if test="username != null">name=#{username},</if>
            <if test="email != null">email=#{email},</if>
            <if test="mobile_phone != null">mobile_phone=#{mobile_phone},</if>
            <if test="roleTypeEnum != null">role_type=#{roleTypeEnum},</if>
            <if test="freezeEnum != null">freeze=#{freezeEnum}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM tb_user WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
</mapper>